*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'DS-DIGI';
    src: url('DS-DIGI.TTF');
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #111;
}
.days,
.month{
    width: 600px;
    height: 50px;
    color: rgb(113, 128, 147,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.days span,
.month span{
    font-size: 12px;
    width: 80px;
    height: 30px;
}

.active{
    color: yellow;
}

.clock{
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DS-DIGI';
    font-size: 100px;
    color: chartreuse;
}

.num{
    width: 50px;
    height: 100px;
    position: relative;
    text-align: right;
}

.num::before{
content: '8';
position: absolute;
top: 0;
right: 0;
color: rgb(113, 128, 147,0.1);
}

.colon{
    padding: 10px;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }  
}

.meridian{
    font-size: 30px;
    color: rgb(113, 128, 147,0.3);
}
.meridian span:nth-child(2){
    margin-top: 10px;
}

.date{
    color: rgba(234, 32, 39, 1.0);
    font-size: 40px;
    font-family: 'DS-DIGI';
    margin-top: 35px;
    align-items: center;
}